h1 {
    margin: 1% 3%;
    color: #000;
}

.job-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.job-box {
    background: #181818;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 1% auto;
    width: 80%;
    max-width: 800px;
}

.job-box h3 {
    margin-bottom: 10px;
    color: #fff;
}

.job-box p {
    margin: 5px 0;
    color: #fff;
}

.job-box p {
    margin: 5px 0;
    color: #fff;
    word-wrap: break-word;
    white-space: pre-wrap;
}

h1 {
    text-align: center;
}